/*  */
.formation-section-wrapper {
    border: 2px solid #b8b4b4;
    border-radius: 8px;
    padding: 25px;
    margin: 20px auto;
    background-color: #ebecec;
    max-width: 1400px; /* Ajusta según tu preferencia */
    width: 90%; /* Ajusta según tu preferencia */
}
.text-style {
    font-size: 20px !important;
}